
@{
    ViewBag.Title = "Kontakt";
   ViewBag.Description = "Veškeré potřebné kontakty na cestovní kancelář Euro Travels";
}


<section class="contacts section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="contact">
                    <div class="contact-icon">
                        <i class="ion-android-map"></i>
                    </div>
                    <div class="contact-name">
                        Adresa
                    </div>
                    <div class="contact-detail">
                        Asowld Avenew P.O Box <br>
                        353 Mountain View. United States of America.
                    </div>
                </div> 
            </div> 
            <div class="col-sm-4">
                <div class="contact">
                    <div class="contact-icon">
                        <i class="ion-ios-telephone"></i>
                    </div>
                    <div class="contact-name">
                        Telefon
                    </div>
                    <div class="contact-detail">
                        Linka: 123456789 <br>
                        Mobil: 987654321
                    </div>
                </div> 
            </div> 
            <div class="col-sm-4">
                <div class="contact">
                    <div class="contact-icon">
                        <i class="ion-email"></i>
                    </div>
                    <div class="contact-name">
                        Email 
                    </div>
                    <div class="contact-detail">
                        info@nejlepsicestovka.com <br>
                        <a href="http://www.eurotravel.com">www.eurotravel.com</a>
                    </div>
                </div> 
            </div> 
        </div> 
    </div> 
</section> 


