
@{
    ViewBag.Title = "Index";
    ViewBag.Description = "Přihlášení do systému.";
}

<div class="container">


    <p>@TempData["error"]</p>


    @using (Html.BeginForm("Prihlaseni", "Login", FormMethod.Post, new { @class = "form-signin" }))
    {

        <h2 class="form-signin-heading">Přihlašte se prosím</h2>
        <label for="inputEmail" class="sr-only">Login</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="User name" name="login">
        <label for="inputPassword" class="sr-only">Heslo</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Heslo">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Přihlásit se</button>
    }

</div>